//breakpoints
$widescreen: 1440px;
$laptop: 1200px;
$tablet: 838px;
$mobile-large: 768px;
$mobile: 390px;

//colors
$white: #fff;
$orange: #DA5D24;
$orange-dark: #BA4E1D;
$blue: #06255b;
$bg-gray: #ABB5C7;
//fonts
$base-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";