<div class="header__top">
    <button class="burger" id="burger">
        <span>open navigation</span>
    </button>

    <div class="container--header">
        <a href="#" class="header__logo">
            <img src="assets/images/logo.svg" alt="logo">
        </a>
        <!--/header__logo-->

        <nav class="nav">
            <a class="nav__item active" href="#">Services</a>
            <a class="nav__item" href="#">Know How</a>
            <a class="nav__item" href="#">Projects & References</a>
            <a class="nav__item" href="#">Our Company</a>
            <a class="nav__item" href="#">Our Clients</a>
            <a class="nav__item" href="#">Careers</a>
        </nav>
        <!--/nav-->

        <div class="header__actions">
            <a class="btn btn--default btn--orange" href="#">Contact Us</a>

            <div class="header__actions-wrap">
                <div class="lang">
                    <a class="lang__item lang__item--de" href="#">De</a>
                    <a class="lang__item lang__item--en active" href="#">En</a>
                    <a class="lang__item lang__item--fr" href="#">Fr</a>
                </div>
                <!--/lang-->
                <div class="header__menu-btn">
                    <svg width="33" height="24" viewBox="0 0 33 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="10.25" y1="2" x2="31" y2="2" stroke="#2F3034" stroke-width="4" stroke-linecap="round"/>
                        <line x1="2" y1="11.75" x2="31" y2="11.75" stroke="#2F3034" stroke-width="4" stroke-linecap="round"/>
                        <line x1="2" y1="21.5" x2="31" y2="21.5" stroke="#2F3034" stroke-width="4" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
        </div>
        <!--/header__actions-->
    </div>
    <!--/container-->
</div>
<!--/header__top-->
<div class="decor"></div>
<!--/decor-->

<div class="header__center">
    <div class="container">
        <div class="header__main">
            <div class="header__left">
                <h1 class="header__title">Civil <strong>Engineering Solutions</strong> <br>
                    For The <strong>Cement</strong> Industry</h1>
                <div class="header__content">
                    <p>We are your leading partner for complex brownfield
                        construction projects during ongoing operation. </p>
                    <p>Benefit from engineering excellence built on
                        more than 30 years of industry experience.</p>
                </div>

                <div class="header__main-actions">
                    <a class="btn btn--default btn--transparent" href="#">How can we serve you</a>
                    <a class="btn btn--default btn--transparent" href="#">Contact Us</a>
                </div>
            </div>
            <!--/header__left-->
            <div class="header__right">
                <div class="header__right-wrap">
                    <div class="h-card">
                        <div class="h-card__content h-card__content--white">
                            <h3 class="h-card__title">
                                Ganzheitlich.
                            </h3>
                        </div>
                    </div>
                    <!--/h-card-->
                    <div class="h-card">
                        <div class="h-card__content h-card__content--blue">
                            <h3 class="h-card__title">
                                Agil.
                            </h3>
                        </div>
                    </div>
                    <!--/h-card-->
                    <div class="h-card">
                        <div class="h-card__content h-card__content--orange">
                            <h3 class="h-card__title">
                                Zuverlasssig.
                            </h3>
                        </div>
                    </div>
                    <!--/h-card-->
                </div>
            </div>
            <!--/header__right-->
        </div>
    </div>
</div>




