<div class="header__top">
    <button class="burger" id="burger">
        <span>open navigation</span>
    </button>

    <div class="container container--header">
        <a href="#" class="header__logo">
            <img src="assets/images/logo.svg" alt="logo">
        </a>
        <!--/header__logo-->

        <nav class="nav">
            <a class="nav__item" href="#">Services</a>
            <a class="nav__item" href="#">Know How</a>
            <a class="nav__item" href="#">Projects & References</a>
            <a class="nav__item" href="#">Our Company</a>
            <a class="nav__item" href="#">Our Clients</a>
            <a class="nav__item" href="#">Careers</a>
        </nav>
        <!--/nav-->

        <div class="header__actions">
            <a class="btn btn--default btn--orange" href="#">Contact Us</a>
            <div class="lang">
                <a class="lang__item lang__item--de" href="#">De</a>
                <a class="lang__item lang__item--en" href="#">En</a>
                <a class="lang__item lang__item--fr" href="#">Fr</a>
            </div>
            <!--/lang-->
        </div>
        <!--/header__actions-->
    </div>
    <!--/container-->
</div>




